# requirements.txt
# 21th septemper 2024

# you can download the requirements using:
# pip install -r requirements.txt

# alternatively u can do it separately:
# pip install -U py-cord
# pip install discord-typings
# pip install psycopg2

# after installation check ur libraries using:
# 'pip list'

# python version:
# python==3.11.1

# required libraries
py-cord==2.6.0
discord-typings==0.9.0
psycopg2==2.9.9
